* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-background: #F0F0F7;
    --color-primary-lighter: #9871F5;
    --color-primary-light: #916BEA;
    --color-primary: #8257E5;
    --color-primary-dark: #774DD6;
    --color-primary-darker: #6842c2;
    --color-secondary: #04D361;
    --color-secondary-dark: #04BF58;
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #D4C2FF;
    --color-text-title: #32264D;
    --color-text-complement: #9C98A6;
    --color-text-base: #6A6180;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #F8F8FC;
    --color-button-text: #FFFFFF;
    --color-box-base: #FFFFFF;
    --color-box-footer: #FAFAFC;
    --color-small-info: #C1BCCC;
}

body {
    background-color: var(--color-primary);
}

.container {
    width: 90%;
    max-width: 1200px;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.container main {
    width: 50%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
}

.container main #logo {
    width: 350px;
    margin-bottom: 25px;
}

.container main p {
    color: var(--color-text-in-primary);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 25pt;
}

#button {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 50px;
}

#button a {
    text-decoration: none;
    width: 250px;
    height: 80px;
    color: var(--color-button-text);
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    font-size: 13pt;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: 400ms;
}

#button a.study {
    background: var(--color-primary-lighter);
}

#button a.study:hover {
    background: var(--color-primary-light);
}

#button a.classes {
    background: var(--color-secondary);
    margin-right: 0;
}

#button a.classes:hover {
    background: var(--color-secondary-dark)
}

#button a img {
    margin-right: 20px;
}

#connections {
    position: absolute;
    top: 10%;
    left: 60%;
    font-size: 15pt;
    color: var(--color-text-in-primary);
}

#connections .heart {
    margin-left: 5px;
}