* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-background: #F0F0F7;
    --color-primary-lighter: #9871F5;
    --color-primary-light: #916BEA;
    --color-primary: #8257E5;
    --color-primary-dark: #774DD6;
    --color-primary-darker: #6842c2;
    --color-secondary: #04D361;
    --color-secondary-dark: #04BF58;
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #D4C2FF;
    --color-text-title: #32264D;
    --color-text-complement: #9C98A6;
    --color-text-base: #6A6180;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #F8F8FC;
    --color-button-text: #FFFFFF;
    --color-box-base: #FFFFFF;
    --color-box-footer: #FAFAFC;
    --color-small-info: #C1BCCC;
}

body {
    background-color: #E5E5E5;
}

.container {
    width: 100%;
    margin: auto;
}

.page-header {
    background-color: var(--color-primary);
    width: 100%;
    height: 80px;
    padding: 0 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.page-header img {
    transition: opacity 0.2s;
    opacity: 0.5;
}

.page-header img:hover {
    opacity: 1;
}

.page-header #logo {
    width: 120px;
}

.top-bar {
    background-color: var(--color-primary);
    height: 28vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 80px;
}

.top-bar h1 {
    color: white;
    font-family: 'Archivo', sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 30pt;
    margin-top: 50px;
}

.top-bar form {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

label {
    margin-bottom: 5px;
    font-size: 17pt;
    color: floralwhite;
    font-weight: 700;
}

select {
    height: 56px;
    font-size: 14pt;
    border: 0;
    border-radius: 5px;
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    color: darkslategrey;
    background: var(--color-input-background);
    outline: 0;
    border: 3px solid var(--color-line-in-white);
    padding: 8px;
}

input {
    height: 56px;
    font-size: 15pt;
    border: 0;
    border-radius: 5px;
    color: darkslategrey;
    background: var(--color-input-background);
    outline: 0;
    border: 1px solid var(--color-line-in-white);
    padding: 8px;
}

#materia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    position: relative;
}

#materia:focus-within::after {
    content: "";
    width: calc(100% - 3.2rem);
    height: 2px;
    background: var(--color-text-base);
    position: absolute;
    left: 1.6rem;
    right: 1.6rem;
    bottom: 0;
}

#dia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    position: relative;
}

#dia:focus-within::after {
    content: "";
    width: calc(100% - 3.2rem);
    height: 2px;
    background: var(--color-text-base);
    position: absolute;
    left: 1.6rem;
    right: 1.6rem;
    bottom: 0;
}

#horario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 10px;
}

#horario:focus-within::after {
    content: "";
    width: calc(100% - 3.2rem);
    height: 2px;
    background: var(--color-text-base);
    position: absolute;
    left: 1.6rem;
    right: 1.6rem;
    bottom: 0;
}

button {
    text-decoration: none;
    width: 230px;
    height: 60px;
    background: var(--color-secondary);
    color: white;
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    font-size: 14pt;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: 400ms;
    border: 0;
    cursor: pointer;
    margin-top: 28px;
}

button:hover {
    background: var(--color-secondary-dark);
}

main {
    background-color: #fff;
    width: 62%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid #f5f5f5;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.473);
}

.cabecalho {
    display: flex;
    flex-direction: row;
}

.cabecalho img {
    margin-left: 30px;
    border-radius: 30px;
    width: 80px;
}

.cabecalho-2 {
    margin-left: 30px;
}

.cabecalho-2 h2 {
    color: rgb(63, 60, 60);
    font-weight: 600;
    font-family: 'Archivo', sans-serif;
    font-size: 22pt;
}

.cabecalho-2 p {
    font-weight: 600;
    font-family: 'Archivo', sans-serif;
    color: var(--color-text-base);
    margin-top: 10px;
}

.section {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.section p {
    width: 720px;
    margin-top: 30px;
    color: rgb(63, 60, 60);
    font-weight: 600;
    font-family: 'Archivo', sans-serif;
    line-height: 30px;
    font-size: 15pt;
}

.rodape {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
    border-top: 1px dashed gray;
}

.rodape a {
    text-decoration: none;
    width: 290px;
    height: 60px;
    background: var(--color-secondary);
    color: white;
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    font-size: 14pt;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: 400ms;
    border: 0;
    cursor: pointer;
    margin-top: 30px;
}

.rodape a:hover {
    background: var(--color-secondary-dark);
}

.rodape a img {
    margin-right: 20px;
}

.rodape p {
    color: var(--color-text-base);
    font-weight: 600;
    margin-top: 30px;
}

.rodape p strong {
    font-size: 17pt;
    color: var(--color-primary);
    font-weight: 600;
}