* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-background: #F0F0F7;
    --color-primary-lighter: #9871F5;
    --color-primary-light: #916BEA;
    --color-primary: #8257E5;
    --color-primary-dark: #774DD6;
    --color-primary-darker: #6842c2;
    --color-secondary: #04D361;
    --color-secondary-dark: #04BF58;
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #D4C2FF;
    --color-text-title: #32264D;
    --color-text-complement: #9C98A6;
    --color-text-base: #6A6180;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #F8F8FC;
    --color-button-text: #FFFFFF;
    --color-box-base: #FFFFFF;
    --color-box-footer: #FAFAFC;
    --color-small-info: #C1BCCC;
}

body {
    background-color: var(--color-primary);
}

.container {
    width: 90%;
    max-width: 1200px;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: url('/images/landing.svg') no-repeat;
    background-position: 45vw 20vh;
}

.container main {
    width: 50%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.container main h1 {
    color: var(--color-text-in-primary);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 55pt;
}

.container main p {
    color: var(--color-text-in-primary);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 25pt;
}

#button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
}

#button button {
    background-color: rgba(27, 196, 27, 0.932);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    width: 280px;
    height: 70px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 13pt;
}

#button button img {
    margin-right: 20px;
}

#button button:hover {
    background-color: rgb(18, 155, 18);
}